/* #button-container{
    margin-top: 5rem;
    margin-right: 3rem;
    right: 2rem;
    float: right;
    position: sticky;
} */

#parent-container {
    display: flex;
    justify-content: center;
    align-content: center;
}

#button-div {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    /* width: 50%;
    background-color: #efefefe0; */
}

#button-pic-container {
    display: flex;
    flex-direction: column;
}

#author-container {
    display: flex;
    /* margin-top: 5rem; */
    /* margin-left: 3rem; */
    background-color: #efefefe0;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
    box-shadow: 10px -1px 26px 7px rgb(0 0 0 / 47%);
    -webkit-box-shadow: 10px -1px 26px 7px rgb(0 0 0 / 47%);
}

#author-pic {
    display: flex;
}

#author-details-pic {
    height: 200px;
    width: 200px;
    display: flex;
}

#author-details {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 2rem 0.5rem 2rem;
    width: 50%;
}


#author-lists {
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
    
}

#author-books {
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: #efefefe0;
    padding: 2rem;
    box-shadow: 10px -1px 26px 7px rgb(0 0 0 / 47%);
    -webkit-box-shadow: 10px -1px 26px 7px rgb(0 0 0 / 47%);
    margin-bottom: 3rem;
}

.author-books-section {
    display: flex;
    margin-left: 1rem;
    margin-top: 1rem;
    padding: 1rem;
    /* width: 20%; */
}

.author-subheaders {
    text-align: center;
    margin-top: 3rem;
}

.author-books-nav {
    margin-left: 1rem;
    display: flex;
    align-items: flex-end;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: black;
}

.author-books-nav:hover {
    text-decoration: underline;
}

#author-book-section-pic {
    height: 64px;
    width: 64px;
}