#parent-book-container {
    display: flex;
    justify-content: center;
    align-content: center;
}

#book-button-pic-container{
    display: flex;
    flex-direction: column;
}

#book-button-div {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

#book-pic {
    height: 200px;
    width: 200px;
    display: flex;
}

#book-container{
    display: flex;
    background-color: #efefefe0;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
    box-shadow: 10px -1px 26px 7px rgb(0 0 0 / 47%);
    -webkit-box-shadow: 10px -1px 26px 7px rgb(0 0 0 / 47%);
}


#book-details{
    display: flex;
    flex-direction: column;
    padding: 0.5rem 2rem 0.5rem 2rem;
    width: 50%;
}


#book-lists {
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
}

#book-chapters {
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: #efefefe0;
    padding: 2rem;
    box-shadow: 10px -1px 26px 7px rgb(0 0 0 / 47%);
    -webkit-box-shadow: 10px -1px 26px 7px rgb(0 0 0 / 47%);
    margin-bottom: 3rem;
}

.chapter-subheaders {
    margin-top: 3rem;
    text-align: center;
}

.book-chapters-section {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    margin-top: 1rem;
    padding: 1rem;
}

.book-chapters-num{
    margin-left: 1rem;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: black;
}

.book-chapters-nav {
    margin-left: 1rem;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: black;
}

.book-chapters-nav:hover {
    text-decoration: underline;
}