#author-div{
    display: flex;
    margin-top: 5rem;
    flex-direction: column;
    align-items: center;
}

#author-header{
    text-align: center;
}

.author-sections {
    display: flex;
    width: 50%;
    background-color: #efefefe0;
    margin-top: 2.5rem;
    border: 1px solid #000000;
    border-radius: 8px;
    padding-left: 1rem;
}