#edit-chapter-button{
    margin-right: 0.5rem;
    margin-left: 1.1rem;
    background-color: #FFFFFF;
    border: 1px solid #222222;
    border-radius: 8px;
    box-sizing: border-box;
    color: #222222;
    cursor: pointer;
    display: inline-block;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    /* margin-right: 1rem; */
    outline: none;
    padding: 8px 18px;
    position: relative;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    transition: box-shadow .2s, -ms-transform .1s, -webkit-transform .1s, transform .1s;
    user-select: none;
    -webkit-user-select: none;
    width: auto;
}

#edit-chapter-button:focus-visible {
    box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
    transition: box-shadow .2s;
}

#edit-chapter-button:active {
    background-color: #F7F7F7;
    border-color: #000000;
    transform: scale(.96);
}

#edit-chapter-button:disabled {
    border-color: #DDDDDD;
    color: #DDDDDD;
    cursor: not-allowed;
    opacity: 1;
}


/* Form */

.edit-chapter-form{
    display: flex;
    background-color: rgb(255, 255, 255);
    border-radius: 0.75rem;
    border: 1px solid #ffffff;
    height: 28rem;
    width: 24rem;
    /* padding: 3rem; */
    transition: all 0.25s ease-in-out;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}

#edit-chapter-form-errors{
    color: red;
}

#edit-chapter-title{
    outline: none;
    border: 0;
    border: 1px solid #cecece;
    height: 40px;
    width: 50%;
    margin-bottom: 2rem;
    text-align: center;
}

#edit-chapter-button-submit{
    background-color: #FFFFFF;
    border: 1px solid #222222;
    border-radius: 8px;
    box-sizing: border-box;
    color: #222222;
    cursor: pointer;
    display: inline-block;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    /* margin-right: 1rem; */
    outline: none;
    padding: 8px 18px;
    position: relative;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    transition: box-shadow .2s, -ms-transform .1s, -webkit-transform .1s, transform .1s;
    user-select: none;
    -webkit-user-select: none;
    width: auto;
}

#edit-chapter-form-button:focus-visible {
    box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
    transition: box-shadow .2s;
}

#edit-chapter-form-button:active {
    background-color: #F7F7F7;
    border-color: #000000;
    transform: scale(.96);
}

#edit-chapter-form-button:disabled {
    border-color: #DDDDDD;
    color: #DDDDDD;
    cursor: not-allowed;
    opacity: 1;
}

